@font-face {
    font-family: coffe;
    src: url(../fontes/coffee_normal/Coffee\ Normal.ttf);
}
@font-face {
    font-family: hero;
    src: url(../fontes/deep_hero/Deep\ Hero.ttf);
}
a{
    text-decoration: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: coffe;
}

h1 {
    background: linear-gradient(to right, #496583, #325f97, #254c70, #6678b0, #335ead);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}


@keyframes colorChange {
    0% {
        background-position: 0% 50%;
    }
    100% {
        background-position: 100% 50%;
    }
}
@keyframes colorChange {
    0% {
        background-color: hsl(210, 31%, 65%);
    }
    25% {
        background-color: #6c79a7;
    }
    50% {
        background-color: #5b7a98;
    }
    75%{
        background-color: #20375e;
    }
    100%{
        background-color: #132443;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    font-family: Arial, sans-serif;
    animation: colorChange 10s infinite alternate;
}

.off-canvas {
    position: fixed;
    top: 0;
    right: -400px;
    width: 400px;
    height: 100%;
    background-color: #20375e;
    padding: 0;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.4);
    transition: right 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    border-left: 2px solid white;
    overflow: hidden;
    z-index: 100; /* Ajuste o z-index conforme necessário */
}
.off-canvas.open {
    right: 0;
}
.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
}
.off-canvas-content {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}
.off-canvas-close {
    background: none;
    border: none;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    align-self: flex-end;
    margin-bottom: 20px;
}
.off-canvas h2 {
    color: #000;
    margin-bottom: 10px;
}
.username {
    color: #000;
    margin-bottom: 20px;
    font-size: 1.2rem;
    font-weight: bold;
}
.off-canvas-button {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #6984b4c8;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    margin-bottom: 10px;
    transition: transform 0.5s;
}
.off-canvas-button:hover {
    background-color: #32486F;
    transform: scale(1.1);
}

.gallery-container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #ffffff6f;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 2px solid  #fff;
    animation: borderAnimation 10s infinite linear; /* Adicionamos uma animação de movimento suave */
}

@keyframes borderAnimation {
    0% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    50% {
        box-shadow: 0 0 20px rgb(255, 255, 255);
    }
    100% {
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}
.profile-button {
    border: none;
    background-color: #6984b4c8;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
}
.profile-button > span {
    font-size: 1.8rem;
    color: #fff;
}
.profile-button:hover {
    background-color: #32486F;
    transform: scale(1.1);
}
.draw-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #6984b4c8;
    border-radius: 5px;
    cursor: pointer;
    padding: 10px 20px;
    color: #fff;
    font-size: 1rem;
    transition: transform 0.5s;
}
.draw-button > span {
    font-size: 1.8rem;
    margin-right: 10px;
}
.draw-button:hover {
    background-color: #32486F;
    transform: scale(1.1);
}
.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(108px, 1fr));
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.gallery-item {
    background-color: #bac6d2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 270px;
    height: 175px;
   
    position: relative;
    transition: transform 0.5s;
    margin: 10px!important;
}
.gallery-item img{
    width: 270px;
    height: 175px;
    position: relative;
    display: inline-block;
}
.gallery-item .legend{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.151);
    box-shadow: 0px -5px 20px rgba(0, 0, 0, 0.1);
    padding: 5px;
    height: 40px;
    width: 100%; /* A largura total da imagem */
    text-align: center; /* Centraliza o texto */
    justify-content: center;
    display: none; /* Inicialmente oculto */
   
    opacity: 0; /* Inicialmente oculto */
    transition: opacity 10s ease;
    animation: fade-in 0.5s forwards;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.gallery-item:hover {
    transform: scale(1.1);
    
}
.gallery-item:hover .legend{
    display: block;
    display: flex;
    align-items: center;
    flex-direction: row;
    opacity: 1;
    justify-content: space-around;
}
.gallery-item::after {
    content: "";
    display: block;
    padding-top: calc((700 / 1080) * 100%);
}
.save-button{
    border: none;
    background-color: #6984b4c8;
    border-radius: 5px;
    cursor: pointer;
  
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.5s;
}
.save-button > span {
    font-size: 1.8rem;
    color: #fff;
}
.save-button:hover {
    background-color: #32486F;
    transform: scale(1.1);
}