<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    <link rel="stylesheet" href="../css/cadas.css">
    <link rel="shortcut icon" type="imagex/png" href="../images/logo.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lalezar&display=swap" rel="stylesheet">
</head>
<body>

    <div class="video-container">
        <video autoplay muted loop id="background-video">
            <source src="../videos/oceano.mp4" type="video/mp4">
            Seu navegador não suporta vídeos HTML5.
        </video>
        <div class="overlay"></div>
    </div>

    <div class="cadastro-container">
        <h2>CADASTRO</h2>
        <form action="/register" method="POST">
            <div class="input-group">
                <input type="text" id="username" placeholder="nome" name="username" required>
            </div>
            <div class="input-group">              
                <input type="email" id="email" placeholder="email" name="email" required>
            </div>
            <div class="input-group">              
                <input type="password" id="password" placeholder="senha" name="password" required>
            </div>
            <button type="submit">ENTRAR</button>
        </form>
    </div>

</body>
</html>
