<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canva</title>
    <link rel="stylesheet" href="../css/canva.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="shortcut icon" type="imagex/png" href="../images/logo.png">
</head>
<body>
    <div class="off-canvas">
        <video autoplay muted loop class="background-video">
            <source src="../videos/ocean.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="off-canvas-content">
            <button class="off-canvas-close">
                <span class="material-symbols-outlined">close</span>
            </button>
            <div class="profile">
                <h2>Perfil do Usuário</h2>
                <div class="username">Username</div> <!-- Adicionado para o nome de usuário -->
                <a class="off-canvas-button" href="gallery.html">Galeria</a>
                <a class="off-canvas-button" href="index.html">Logoff</a>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="tools">
            <button class="profile-button">
                <span class="material-symbols-outlined">person</span>
            </button>
            <section class="tool-box">
                <button class="button__tool active" data-action="brush">
                    <span class="material-symbols-outlined">brush</span>
                </button>
                <button class="button__tool" data-action="rubber">
                    <span class="material-symbols-outlined">ink_eraser</span>
                </button>
                <button class="button__tool">
                    <input type="color" class="input__color">
                </button>
            </section>
            <section class="tool-box">
                <button class="button__size" data-size="5">
                    <span class="stroke"></span>
                </button>
                <button class="button__size" data-size="10">
                    <span class="stroke"></span>
                </button>
                <button class="button__size active" data-size="20">
                    <span class="stroke"></span>
                </button>
                <button class="button__size" data-size="30">
                    <span class="stroke"></span>
                </button>
            </section>
            <section class="tool-box">
                <button class="button__tool button__clear">
                    <span class="material-symbols-outlined">delete</span>
                </button>
            </section>
        </div>
        <canvas width="1080" height="700"></canvas>
    </section>
    <script src="../js/canvascript.js"></script>
</body>
</html>
