<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Canva</title>
    <link rel="stylesheet" href="../css/canva.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="shortcut icon" type="imagex/png" href="../images/logo.png">
    <style>
        /* Existing styles... */

        /* Modal */
        .modal {
            display: none;
            position: fixed;
            z-index: 3;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgba(0, 0, 0, 0.4);
            backdrop-filter: blur(5px);
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .modal-content {
            background-color: #fefefe;
            margin: auto;
            padding: 20px;
            border: 1px solid #888;
            width: 80%;
            max-width: 400px;
            text-align: center;
            position: relative;
            background-color: #657ba0;
            color: #fff;
            border-radius: 10px;
            box-shadow: 0 0 10px rgb(255, 255, 255);
        }

        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }

        .close:hover,
        .close:focus {
            color: #fff;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-content h2 {
            margin-bottom: 20px;
            font-family: hero;
        }

        .modal-content label,
        .modal-content input,
        .modal-content button {
            display: block;
            width: 100%;
            margin-bottom: 15px;
        }

        .modal-content input {
            padding: 10px;
            border: none;
            border-radius: 5px;
            font-size: 1rem;
        }

        .modal-content button {
            padding: 10px;
            background-color: #566d95;
            border: none;
            border-radius: 5px;
            color: #fff;
            cursor: pointer;
            font-size: 1rem;
            transition: background-color 0.3s ease;
        }

        .modal-content button:hover {
            background-color: #20375e;
        }
    </style>
</head>

<body>
    <div class="off-canvas">
        <video autoplay muted loop class="background-video">
            <source src="../videos/oceano.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="off-canvas-content">
            <button class="off-canvas-close">
                <span class="material-symbols-outlined">close</span>
            </button>
            <div class="profile">
                <h2>Perfil do Usuário</h2>
                <div class="username">
                    <%= username %>
                </div>
                <div class="date"></div>
                <a class="off-canvas-button" href="/gallery">Galeria</a>
                <form action="/logout" method="POST" style="display:inline;">
                    <button type="submit" class="off-canvas-button">Logoff</button>
                </form>
            </div>
        </div>
    </div>
    <section class="container">
        <div class="tools">
            <button class="profile-button">
                <span class="material-symbols-outlined">person</span>
            </button>
            <section class="tool-box">
                <button class="button__tool active" data-action="brush">
                    <span class="material-symbols-outlined">brush</span>
                </button>
                <button class="button__tool" data-action="rubber">
                    <span class="material-symbols-outlined">ink_eraser</span>
                </button>
                <button class="button__tool">
                    <input type="color" class="input__color">
                </button>
            </section>
            <section class="tool-box">
                <button class="button__size" data-size="1">
                    <span class="stroke"></span>
                </button>
                <button class="button__size" data-size="5">
                    <span class="stroke"></span>
                </button>
                <button class="button__size" data-size="10">
                    <span class="stroke"></span>
                </button>
                <button class="button__size active" data-size="20">
                    <span class="stroke"></span>
                </button>
                <button class="button__size" data-size="30">
                    <span class="stroke"></span>
                </button>
                <button class="button__size" data-size="40">
                    <span class="stroke"></span>
                </button>
            </section>
            <section class="tool-box">
                <button class="button__tool button__clear">
                    <span class="material-symbols-outlined">delete</span>
                </button>
                <button class="button__tool button__save">
                    <span class="material-symbols-outlined">save</span>
                </button>
            </section>
        </div>
        <canvas width="1080" height="700"></canvas>
    </section>
    <div id="saveModal" class="modal">
        <div class="modal-content">
            <span class="close">&times;</span>
            <h2>Salvar Desenho</h2>
            <form id="saveForm" enctype="multipart/form-data">
                <label for="drawingName">Nome do Desenho:</label>
                <input type="text" id="drawingname" name="drawingName" required>
                <input type="hidden" id="drawingdata" name="drawingData">
                <button type="submit">Salvar</button>
            </form>

        </div>
    </div>
    <script src="../js/canvascript.js"></script>
    <script>
        function formatarData(data) {
            var dia = data.getDate();
            var mes = data.getMonth() + 1;
            var ano = data.getFullYear();
            return dia + '/' + mes + '/' + ano;
        }

        var dataAtual = new Date();
        var dataFormatada = formatarData(dataAtual);
        document.querySelector('.date').textContent = 'Data: ' + dataFormatada;

        document.addEventListener('DOMContentLoaded', () => {
            const saveButton = document.querySelector('.button__save');
            const modal = document.getElementById('saveModal');
            const span = document.getElementsByClassName('close')[0];
            const form = document.getElementById('saveForm');

            function openModal() {
                modal.style.display = 'flex';
            }

            function closeModal() {
                modal.style.display = 'none';
            }

            saveButton.addEventListener('click', openModal);
            span.addEventListener('click', closeModal);

            window.addEventListener('click', (event) => {
                if (event.target == modal) {
                    closeModal();
                }
            });

            form.addEventListener('submit', (event) => {
                event.preventDefault();
                const drawingNameInput = document.getElementById('drawingname');
                const drawingname = drawingNameInput.value;

                if (drawingname) {
                    const canvas = document.querySelector('canvas');
                    canvas.toBlob(blob => {
                        const formData = new FormData();
                        formData.append('drawing', blob, `${drawingname}.png`);
                        formData.append('drawing_name', drawingname);

                        fetch('/upload', {
                            method: 'POST',
                            body: formData
                        })
                            .then(response => response.text())
                            .then(result => {
                                console.log(result);
                                alert('Desenho salvo com sucesso.' + {drawing_name} );
                                closeModal();
                            })
                            .catch(error => {
                                console.error('Erro ao salvar o desenho:', error);
                                alert('Erro ao salvar o desenho.');
                            });
                    });
                }
            });

        });
    </script>
</body>

</html>