<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Galeria</title>
    <link rel="stylesheet" href="../css/gallery.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@40,400,0,0" />
    <link rel="shortcut icon" type="imagex/png" href="../images/logo.png">
</head>
<body>
    <div class="off-canvas">
        <video autoplay muted loop class="background-video">
            <source src="../videos/ocean.mp4" type="video/mp4">
            Your browser does not support the video tag.
        </video>
        <div class="off-canvas-content">
            <button class="off-canvas-close">
                <span class="material-symbols-outlined">close</span>
            </button>
            <div class="profile">
                <h2>Perfil do Usuário</h2>
                <div class="username">Username</div>
                <a class="off-canvas-button" href="index.html">Logoff</a>
            </div>
        </div>
    </div>
    <div class="gallery-container">
        <header>
            <button class="profile-button">
                <span class="material-symbols-outlined">person</span>
            </button>
            <h1>Galeria de Desenhos</h1>
            
            <a class="draw-button" href="../colorpaint/canva.html">
                <span class="material-symbols-outlined">brush</span>
                Desenhar
            </a>
        </header>
        <section class="gallery">
            <!-- Espaços onde irão aparecer os desenhos do usuário -->
            <div class="gallery-item"></div>
            <div class="gallery-item"></div>
            <div class="gallery-item"></div>
            <!-- Adicione mais itens conforme necessário -->
        </section>
    </div>
    <script src="../js/gallery.js"></script>
</body>
</html>

    
</head>
<body>
    
</body>
</html>